<body><div>
    <h1>contact me </h1>
        <address id="address">
                Mail ID: <a href="mailto:S534090@nwmissouri.edu">priyanka bonam</a>.<br> 
                <a href= "https://www.linkedin.com/in/priyanka-bonam-23189651/" target="_blank"> linked in</a><br>

                <a href= "https://github.com/priyanka411 " target="_blank"> Github</a><br>
                <a href= "https://bitbucket.org/priyankabonam11" target="_blank"> Bitbucket</a><br>
               <a href= "http://instagram.com/priyanka_bonam" target="_blank">instagram</a><br>
                </address>
<link rel="stylesheet" href="/css/priyanka.css">
<h3>Contact Me</h3>
<div class="container">
<form action="thanks.html">
<label for="firstname">First Name</label>
<input type="text" id="firstname" name="firstname" placeholder="Your first name.">
<label for="lastname">Last Name</label>
<input type="text" id="lastname" name="lastname" placeholder="Your last name">
<label for="Email">Email ID</label>
<input type="text" id="Email" name="Email" placeholder="Your Email ID">
<label for="subject">Subject</label>
<textarea id="subject" name="subject" placeholder="your message" style="height:200px"></textarea>
<input type="submit" value="Submit">
</form>
</div>
</body>