<%include header%>
       
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Digital clock</title>
    <link rel="stylesheet" href="/css/game.css" type="text/css" media="screen" charset="utf-8">
    <meta charset="utf-8">
<section id="description">
    <p> I've designed a simple digital clock that runs according your time zone. </p>
    </section>
<div id="MyClockDisplay" class="clock"></div>
<script src="/js/game.js" type="text/javascript" charset="utf-8"></script>
  </body>
</html>      
