<!DOCTYPE html>
<html lang="EN">
<head>
  <link rel="stylesheet" href="/css/priyanka.css">
  <title>Priyanka bonam's page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
</head>
    <body background="images\bg1.jpg">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
              <div class="navbar-header">
                  <a class="navbar-brand" href="#">Priyanka Bonam</a></div>
              <ul class="nav navbar-nav">
                <li class="active"><a href="/index">Home</a></li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">About <span class="caret"></span></a>
                   <ul class="dropdown-menu">
                    <li><a href="/index">About</a></li>
                    <li><a href="/games">mychoice</a></li>
                    <li><a href="/Contact">Contact</a></li>
                  </ul> 
                </li>
                <li><a href="/games">mychoice</a></li>
                <li><a href="/Contact">Contact</a></li>
              </ul>
            </div>
            </div>
        </nav>
    
       